.container{
    display:flex;
    flex-direction: column;
    margin:var(--margin-xl);
}


.titulo{
    color: var(--preto);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
    margin:var(--margin-l);
}

.lista{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-m);
    list-style-type: none;
    margin-bottom: var(--margin-xxl);
    justify-content: center;
}