.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:var(--margin-xl);
}

.ancoras{
    display: flex;
    gap:var(--gap-m);
    margin-left:65px;
    margin-bottom: var(--margin-xl);
    align-self: flex-start;
}

.titulo{
    color: var(--preto);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
    margin-left:65px;
    align-self: flex-start;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-m);
    list-style-type: none;
    margin-bottom: var(--margin-xxl);
    justify-content: center;
}