.formulario{
    display: flex;
    gap: var(--gap-s);
    align-items: center ;
    justify-content: center;
}

.formulario input {
    width: 40vw;
    height: 3rem;
    padding: var(--padding-s) var(--padding-m);
    border: 3px solid var(--cinza-escuro);
    background-color: var(--cor-de-fundo-newsletter);
    border-radius: 8px;
    outline: none;
}

.formulario input::placeholder {
    color: var(--preto);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-m);
}

.botao{
    padding: var(--padding-s);
    color: var(--branco);
    background-color: var(--cinza-escuro);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-s);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}